@import 'tailwindcss';

@theme {
  --color-sky-blue: #1AC8ED;
  --color-neutral-gray: #ABB2BF;
  --color-pure-white: #FFFFFF;
  --color-dark-background: #272C34;
  --color-card-background: #23232b;

  --font-sans: 'Inter', sans-serif;
  --font-fira: 'Fira Code', monospace;

  --font-size-base: 16px;
  --font-size-heading: 32px;
}

body {
  @apply bg-dark-background text-pure-white font-fira;
}

p {
  @apply text-neutral-gray; 
}

h1, h2, h3, h4, h5, h6 {
  @apply text-pure-white; 
}

/* Utility classes */
.bg-card {
  background-color: var(--color-card-background);
}
